:root {
  --color-main: #00a8b6;
  --color-main-dark: #077e86;
  --color-white-lighter: #f1f1f1;
  --color-white-light: #e6e6e6;
  --color-white: #fff;
  --color-white-dull: #c4c2c2;
  --color-lighter-gray: #5c616171;
  --color-light-gray: #373e3e;
  --color-dark-gray: #161717;
  --color-font: #5b6a6a;
  --color-yellow-link: #fdebb4;
  --color-cannon-pink: #87406d;
  --color-red-dull: #ff7063;
}
html {
  font-size: 62.5%; /* Setting 1rem = 10px | By default 1rem = 16px  */
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  color: var(--color-font);
  line-height: 1.5;
  font-family: sans-serif;
}

/* Resuable components */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.list {
  list-style: none;
}
.hidden {
  display: none !important;
}
.block {
  display: block !important;
}
.heading__primary {
  font-size: 5.6rem;
  text-align: center;
  padding: 0;
}
.heading__secondary {
  font-size: 4.4rem;
}
.heading__tertiary {
  font-size: 2.8rem;
}

/* To reset icons default height and width which shift them upside || Aligning icons in center */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top Header Components */
.header__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  background-color: var(--color-light-gray);
  color: var(--color-white);
}
.header__top_text {
  padding-left: 50rem;
}
.link__info {
  color: var(--color-yellow-link);
}

.header__top_link_box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__top_content {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-dark-gray);
  padding: 1.5rem 3rem;
  cursor: pointer;
}
.content__text {
  text-transform: uppercase;
}
.content__arrow_icon,
.country__arrow_icon {
  transition: rotate 0.3s ease-in-out;
}

.header__top_links {
  padding: 1rem 3rem;
  background-color: var(--color-dark-gray);
  position: absolute;
  top: 100%;
  bottom: -300%;
  left: 0;
  right: 0;
  z-index: 101;
}
.header__top_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__top_link {
  transition: all 0.3s ease-in-out;
}
.header__top_link:hover {
  color: var(--color-white-dull);
}

/* Main Header components  */
.header__down {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-lighter-gray);
}
.header__container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header__logo_box {
  width: 15rem;
}

.header__links_list {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-weight: bold;
}
.header__link_item {
  padding: 2rem 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.header__link_item:hover {
  color: var(--color-main);
}
.header__link_item:hover:nth-child(-n + 4) {
  border-color: var(--color-main);
}
.header__action_links {
  display: flex;
  gap: 2rem;
}
.header__action_links > ion-icon {
  cursor: pointer;
  padding: 1rem;
}
.header__extra_links {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* padding-left: 4rem; */
}
.country__selection_box {
  position: relative;
}
.current {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--color-white-dull);
  padding: 0.6rem;
  cursor: pointer;
}
.img__country {
  width: 3rem;
}
.country__option {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.list__country {
  background-color: var(--color-white-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3rem;
  gap: 0.5rem;
  padding: 2rem;
  width: max-content;
  position: absolute;
  right: 0;
  z-index: 100;
}
.link__tel {
  color: var(--color-main);
  font-weight: bolder;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.link__contact {
  background-color: var(--color-main);
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: var(--color-white);
}
.link__contact:hover {
  background-color: var(--color-main-dark);
}

.menu__box {
  height: 4rem;
  width: 4rem;
  background-color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: none;
}
.abstract__menu {
  position: relative;
}
.abstract__menu,
.abstract__menu::before,
.abstract__menu::after {
  width: 3rem;
  height: 2px;
  background-color: var(--color-white-dull);
  transition: all 0.3s ease-in-out;
}
.abstract__menu::before,
.abstract__menu::after {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  transform-origin: left;
}
.abstract__menu::before {
  top: -0.75rem;
  /* transform-origin: right; */
}
.abstract__menu::after {
  top: 0.75rem;
}

#abstract__box:checked ~ .header__extra_links > .menu__box > .abstract__menu {
  background-color: transparent;
}
#abstract__box:checked
  ~ .header__extra_links
  > .menu__box
  > .abstract__menu::after {
  rotate: -30deg;
}
#abstract__box:checked
  ~ .header__extra_links
  > .menu__box
  > .abstract__menu::before {
  rotate: 30deg;
}

/*Section Features */
/* .features {
  display: flex;
  justify-content: center;
} */
.features {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
}
/* .features__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  cursor: pointer;
  flex-grow: 1;
} */

.features__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  flex-grow: 1;
  scroll-snap-align: center;
}
.features__text {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.icon__information {
  font-size: 2rem;
  cursor: pointer;
}
.features__content:not(:last-child) {
  border-right: 1px solid var(--color-lighter-gray);
}

.features__content:hover > .features__text {
  color: var(--color-main);
}

/* Main Section || Hero Section */

main {
  display: flex;
  flex-direction: column;
}
.img__label {
  object-fit: cover;
  height: 5rem;
}
.hero {
  position: relative;
  height: 40rem;
}
.img__hero {
  width: 100%;
  height: 100%;
}
.hero__content {
  color: var(--color-white);
  padding: 3rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px) brightness(60%);
  padding-top: 0;
}

.heor__text {
  font-weight: bold;
  text-align: center;
}
.hero__bottom_text {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-cannon-pink);
  color: var(--color-white);
}
.hero__link {
  color: inherit;
  font-weight: normal;
}
.hero__link:hover {
  text-decoration: none;
}

/* Section Details */

.details {
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  gap: 3rem;
  max-width: 120rem;
  margin: 3rem auto;
}
.details__nav {
  display: flex;
  gap: 1rem;
}
.dummy__page {
  color: var(--color-dark-gray);
}

.dummy_link,
.dummy__page {
  cursor: pointer;
}

.details__container {
  display: flex;
  gap: 5rem;
}

.details__content {
  width: 65%;
}
.show__more_btn,
.show__less_btn {
  cursor: pointer;
  color: var(--color-main);
  display: none;
  text-align: center;
}

.details__text > b {
  color: var(--color-main);
}

.enquiry__form {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__block {
  border: 1px solid var(--color-lighter-gray);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.contact__tel {
  font-size: 3.2rem;
  color: var(--color-main);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--color-light-gray);
  font-size: 1.6rem;
  color: var(--color-white);
  padding: 2rem 3rem;
  border-radius: 0.6rem;
}
.label > span {
  color: var(--color-red-dull);
}
.input {
  outline: none;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 3px;
  border: none;
}

.helper__text > a {
  color: var(--color-white);
}

.btn__next {
  background-color: var(--color-main);
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.extra__content {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  border: 1px solid;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
}

.btn {
  background-color: var(--color-white-lighter);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2.4rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--color-white-light);
  color: var(--color-main-dark);
}

.reviewa {
  border: 1px solid var(--color-white-dull);
  border-radius: 0.4rem;
  padding: 1rem 2rem;
}

.review__text > strong {
  font-size: 2.4rem;
}

.review__text > span {
  color: var(--color-main);
}

.stars {
  display: flex;
  gap: 0.6rem;
  margin-top: 2rem;
  color: goldenrod;
}
.icon__review {
  font-size: 1rem;
}

/*Sticky Navbar */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 110;
}

/*RESPONSIVENESS */
@media (max-width: 93.12em) {
  .header__links_box {
    display: none;
  }
  .header__links_list {
    position: absolute;
    top: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    z-index: 112;
    overflow: hidden;
  }
  .header__link_item {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--color-white-dull);
  }
  .header__link {
    display: flex;
    justify-content: space-between;
  }
  .menu__box {
    display: flex;
  }
  .header__container {
    width: 100%;
    justify-content: space-between;
  }
  #abstract__box:checked + .header__links_box {
    display: flex;
  }
  .header__top_text {
    padding-left: 0;
  }
}

@media (max-width: 62.5em) {
  .features__content:nth-last-child(-n + 2) {
    display: none;
  }
  .details__container {
    flex-direction: column;
  }
  .details__content,
  .enquiry__form {
    width: auto;
  }
  .hero__content {
    min-width: 70%;
    max-width: 90%;
  }
  .img__label {
    height: 2rem;
  }
}

@media (max-width: 46.87em) {
  .header__top {
    display: none;
  }
  .link__tel > p,
  .link__contact,
  .country__selection_box {
    display: none;
  }
  .link__tel,
  .search__icon,
  .heart__icon {
    border: 1px solid var(--color-white-dull);
    padding: 1rem;
    border-radius: 50%;
  }
  .heading__primary {
    font-size: 4.2rem;
  }
  .hero__bottom_text {
    font-size: 1.6rem;
  }
}

@media (max-width: 36em) {
  html {
    font-size: 56.25%; /*Set 1rem = 9px */
  }
  .heor__text {
    font-size: 1.6rem;
    width: fit-content;
  }
  .details__nav {
    display: none;
  }
  .details__text {
    max-height: 10rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
}
